[flake8]
builtins = ic
base-package = app
docstring_style= numpy
inline-quotes = double
docstring-convention = numpy
exclude = .git, __pycache__, docs, venv, *.egg, build, playground.py
max-line-length = 88
extend-ignore = ANN101, W503, E203, ANN102
max-module-lines = 1
no-spaces-allowed = true
naming-convention = snake_case
ignore=D101, D102
require-code = true
per-file-ignores =
    *test.py: T201, D100, DC100, D103, ANN201, S101
    test_*.py: T201, D100, DC100, D103, ANN001, ANN201, S101, DC101, DC102, DAR101


restrict_relative_imports = true
restrict_local_scope_imports = true
restrict_private_imports = true
restrict_wildcard_imports = true
restrict_future_imports = true
restrict_main_imports = true
