 [Unit]
 Description=OLLama Watchdog Service
 After=network.target ollama.service

 [Service]
 Type=simple
 WorkingDirectory=/home/aemonge/projects/ollama-watchdog
 ExecStart=. main.py
 Restart=always
 User=aemonge

 [Install]
 WantedBy=multi-user.target
